.root {
  display: block;
  width: 323px;
  height: 77px;
  max-width: 100%;
  background: var(--token-GuXssGwwPj);
  position: relative;
  padding: 8px;
}
.text__qt9Sz {
  width: 151px;
  height: auto;
  max-width: 273px;
  position: absolute;
  left: 22px;
  top: 8px;
}
.text__pNgT {
  position: absolute;
  width: 53px;
  height: auto;
  max-width: 800px;
  left: 140px;
  top: 39px;
}
