.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
}
.aspectRatio:global(.__wab_instance) {
  width: 320px;
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.image__t0Qdm:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.subNav:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
