.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
}
.freeBox__wvRf {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox__wvRf > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__wvRf > :global(.__wab_flex-container) > *,
.freeBox__wvRf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wvRf > :global(.__wab_flex-container) > picture > img,
.freeBox__wvRf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.nav:global(.__wab_instance) {
  position: relative;
}
.freeBox___4ZlDy {
  flex-direction: row;
  display: flex;
  width: 100%;
  position: relative;
  min-width: 0;
  padding: 16px;
}
.freeBox___4ZlDy > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox___4ZlDy > :global(.__wab_flex-container) > *,
.freeBox___4ZlDy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___4ZlDy > :global(.__wab_flex-container) > picture > img,
.freeBox___4ZlDy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4ZlDy {
    width: 100%;
    min-width: 0;
    padding: 32px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4ZlDy > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.freeBox__dx67I {
  flex-direction: column;
  display: flex;
  position: relative;
  width: auto;
}
.freeBox__dx67I > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__dx67I > :global(.__wab_flex-container) > *,
.freeBox__dx67I > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dx67I > :global(.__wab_flex-container) > picture > img,
.freeBox__dx67I
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dx67I {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dx67I > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dx67I > :global(.__wab_flex-container) > *,
  .freeBox__dx67I > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__dx67I > :global(.__wab_flex-container) > picture > img,
  .freeBox__dx67I
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.subNav:global(.__wab_instance) {
  position: relative;
}
.freeBox__caV9K {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.button___0EOvH {
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 500;
  background: #000000d9;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  border-radius: 6px;
  border-width: 0px;
}
.button2:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.svg__hfjxh {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__xqzDy {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #1b1b18;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__ml2E {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__zvdep {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  margin-right: 100px;
  margin-bottom: 100px;
  margin-left: calc(100px + 16px) !important;
  min-width: 0;
  padding: 0px;
}
.freeBox__zvdep > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 100px);
  height: calc(100% + 100px);
}
.freeBox__zvdep > :global(.__wab_flex-container) > *,
.freeBox__zvdep > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zvdep > :global(.__wab_flex-container) > picture > img,
.freeBox__zvdep
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 100px;
}
.heading:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___42HCw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text___1WpMf:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__iCtTr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.tabs:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
  min-width: 0;
}
.tabList:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.tab___30ZXy:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__cZpa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.tab__dtbaG:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__nz9ET {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.tab__pfFsH:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__x32L {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.tabPanels:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.tabPanel__l5BlC:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__ft3Pf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.freeBox___0E8Bj {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___0E8Bj > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___0E8Bj > :global(.__wab_flex-container) > *,
.freeBox___0E8Bj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___0E8Bj > :global(.__wab_flex-container) > picture > img,
.freeBox___0E8Bj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.button__q8Yut:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.checkCircleIcon__kg7Jk:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__fs0Ez {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.button__byMqD:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.checkCircleIcon__dBegI:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__muUt7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.checkCircleIcon___1JZwq:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.button__swCyZ:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.checkCircleIcon__uAhIv:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__gWOw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.checkCircleIcon__o8OFe:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.button__mUt14:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.checkCircleIcon___56YCl:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__ormF {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.checkCircleIcon__giVjP:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.tabPanel__jnthb:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__sv8Gr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.buttonPreview:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  display: none;
}
.buttonPreviewprops:global(.__wab_instance) {
  display: flex;
}
.tabPanel__nhAn2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.chakraDocs:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.text__yD3SX {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__t3ERn {
  position: relative;
  width: 100%;
  min-width: 0;
}
