.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
}
.freeBox__n3Wkm {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox__n3Wkm > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__n3Wkm > :global(.__wab_flex-container) > *,
.freeBox__n3Wkm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__n3Wkm > :global(.__wab_flex-container) > picture > img,
.freeBox__n3Wkm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.nav:global(.__wab_instance) {
  position: relative;
}
.freeBox___0L6Xs {
  flex-direction: row;
  display: flex;
  width: 100%;
  position: relative;
  min-width: 0;
  padding: 16px;
}
.freeBox___0L6Xs > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox___0L6Xs > :global(.__wab_flex-container) > *,
.freeBox___0L6Xs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___0L6Xs > :global(.__wab_flex-container) > picture > img,
.freeBox___0L6Xs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___0L6Xs {
    width: 100%;
    min-width: 0;
    padding: 32px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___0L6Xs > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.freeBox__kk2XI {
  flex-direction: column;
  display: flex;
  position: relative;
  width: auto;
}
.freeBox__kk2XI > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__kk2XI > :global(.__wab_flex-container) > *,
.freeBox__kk2XI > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kk2XI > :global(.__wab_flex-container) > picture > img,
.freeBox__kk2XI
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kk2XI {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kk2XI > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kk2XI > :global(.__wab_flex-container) > *,
  .freeBox__kk2XI > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__kk2XI > :global(.__wab_flex-container) > picture > img,
  .freeBox__kk2XI
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.subNav:global(.__wab_instance) {
  position: relative;
}
.freeBox__d64Pf {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.button__aiFq9 {
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 500;
  background: #000000d9;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  border-radius: 6px;
  border-width: 0px;
}
.button2:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.svg___1RjHk {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__mj4 {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #1b1b18;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__y4GdJ {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__dfUu {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: calc(0px + 16px) !important;
  min-width: 0;
  padding: 0px;
}
.freeBox__dfUu > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__dfUu > :global(.__wab_flex-container) > *,
.freeBox__dfUu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dfUu > :global(.__wab_flex-container) > picture > img,
.freeBox__dfUu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.heading__qxKCx:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__jmo9C {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__jYmEs:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__hlq9Y {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.freeBox__vzgPm {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__vzgPm > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__vzgPm > :global(.__wab_flex-container) > *,
.freeBox__vzgPm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vzgPm > :global(.__wab_flex-container) > picture > img,
.freeBox__vzgPm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button__zTeJc:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.checkCircleIcon__ndTnE:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___18Or2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.button__dPuI:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.checkCircleIcon___2Su1U:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___5Y581 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.button__uFkI0:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.checkCircleIcon__w31F2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__rjHrr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.tabs:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
  min-width: 0;
}
.tabList:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.tab__xgXmA:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__exyf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.tab__k10Gj:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__egsJp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.tab__xTzf:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__f8SnO {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.tabPanels:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.tabPanel__izAIl:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.heading___9R9I:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__l18MM {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__lnOey:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__rMoAe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.freeBox__cWqIs {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 20px;
  padding: 48px;
  border-width: 1px;
  border-style: solid;
}
.freeBox__cWqIs > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__cWqIs > :global(.__wab_flex-container) > *,
.freeBox__cWqIs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cWqIs > :global(.__wab_flex-container) > picture > img,
.freeBox__cWqIs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.heading__om1Ft:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__zHkqy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.heading__qGwvT:global(.__wab_instance) {
  object-fit: cover;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__u5XOl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.heading___7YlYg:global(.__wab_instance) {
  object-fit: cover;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text___74NB5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.heading__md71J:global(.__wab_instance) {
  object-fit: cover;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__qAvam {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.heading__uotWo:global(.__wab_instance) {
  object-fit: cover;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__gqcCv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.heading__vkRni:global(.__wab_instance) {
  object-fit: cover;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__dPsjr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.heading___1AcgF:global(.__wab_instance) {
  object-fit: cover;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__dfshK {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.heading__xKjC:global(.__wab_instance) {
  object-fit: cover;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__bo1WV {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.heading__geplP:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__kDpj0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__uHqvy:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__c0Qyv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.heading__ubaXd:global(.__wab_instance) {
  object-fit: cover;
  position: relative;
  width: 100%;
  height: 55px;
  min-width: 0;
}
.text___33Kjv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.heading__xim5B:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__gqnth {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.freeBox__kiJ1 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 20px;
  padding: 40px;
  border-width: 1px;
}
.freeBox__kiJ1 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__kiJ1 > :global(.__wab_flex-container) > *,
.freeBox__kiJ1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kiJ1 > :global(.__wab_flex-container) > picture > img,
.freeBox__kiJ1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.heading___49Xsy:global(.__wab_instance) {
  object-fit: cover;
  position: relative;
  width: 100%;
  height: 110px;
  min-width: 0;
  flex-shrink: 0;
}
.text__lKL {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__clxcv:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__lvu3H {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.button__mKk0T:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.text__yJBs {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
}
.tabPanel__w6T8T:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__iFeT9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.buttonPreview:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  display: none;
}
.buttonPreviewprops:global(.__wab_instance) {
  display: flex;
}
.tabPanel__ttBp1:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.chakraDocs:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.text__yDiab {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__jK2O7 {
  position: relative;
  width: 100%;
  min-width: 0;
}
