.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
}
.freeBox__zZdEa {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox__zZdEa > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__zZdEa > :global(.__wab_flex-container) > *,
.freeBox__zZdEa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zZdEa > :global(.__wab_flex-container) > picture > img,
.freeBox__zZdEa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.nav:global(.__wab_instance) {
  position: relative;
}
.freeBox___8ZFuX {
  flex-direction: row;
  display: flex;
  width: 100%;
  position: relative;
  min-width: 0;
  padding: 16px;
}
.freeBox___8ZFuX > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox___8ZFuX > :global(.__wab_flex-container) > *,
.freeBox___8ZFuX > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8ZFuX > :global(.__wab_flex-container) > picture > img,
.freeBox___8ZFuX
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___8ZFuX {
    width: 100%;
    min-width: 0;
    padding: 32px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___8ZFuX > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.freeBox__kPau {
  flex-direction: column;
  display: flex;
  position: relative;
  width: auto;
}
.freeBox__kPau > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__kPau > :global(.__wab_flex-container) > *,
.freeBox__kPau > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kPau > :global(.__wab_flex-container) > picture > img,
.freeBox__kPau
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kPau {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kPau > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kPau > :global(.__wab_flex-container) > *,
  .freeBox__kPau > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__kPau > :global(.__wab_flex-container) > picture > img,
  .freeBox__kPau
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.subNav:global(.__wab_instance) {
  position: relative;
}
.freeBox__nh6N5 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.button___9ZczG {
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 500;
  background: #000000d9;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  border-radius: 6px;
  border-width: 0px;
}
.button2:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.svg__lvOla {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__i5Ks3 {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #1b1b18;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg___44WlS {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__alCJ {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  margin-right: 100px;
  margin-bottom: 100px;
  margin-left: calc(100px + 16px) !important;
  min-width: 0;
  padding: 0px;
}
.freeBox__alCJ > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 100px);
  height: calc(100% + 100px);
}
.freeBox__alCJ > :global(.__wab_flex-container) > *,
.freeBox__alCJ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__alCJ > :global(.__wab_flex-container) > picture > img,
.freeBox__alCJ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 100px;
}
.heading:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___21NC6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text___0L8BR:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__b1VIt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.tabs:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
  min-width: 0;
}
.tabList:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.tab__fe8OY:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__yB0FP {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.tab__tWfqA:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___8Gp6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.tab__xnza8:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___7MFsG {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.tabPanels:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.tabPanel__l89O:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__cfEz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.freeBox__dpMr7 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__dpMr7 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__dpMr7 > :global(.__wab_flex-container) > *,
.freeBox__dpMr7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dpMr7 > :global(.__wab_flex-container) > picture > img,
.freeBox__dpMr7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.button__jw72K:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.checkCircleIcon__dhwrL:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__jQgNo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.button__yxnZ:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.checkCircleIcon__o8Bpm:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__evPtn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.checkCircleIcon__aQ43C:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.button__gmbtt:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.checkCircleIcon__qIlR1:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__mA411 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.checkCircleIcon__eQBuO:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.button__ittev:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.checkCircleIcon__soS7O:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__t2Nmf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.checkCircleIcon__mYm4F:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.tabPanel__a4Dge:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__bd6Mz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.buttonPreview:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  display: none;
}
.buttonPreviewprops:global(.__wab_instance) {
  display: flex;
}
.tabPanel__ti6Mw:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.chakraDocs:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.text___6PaWk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__gzOkL {
  position: relative;
  width: 100%;
  min-width: 0;
}
