.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
}
.freeBox___907Py {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox___907Py > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox___907Py > :global(.__wab_flex-container) > *,
.freeBox___907Py > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___907Py > :global(.__wab_flex-container) > picture > img,
.freeBox___907Py
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.nav:global(.__wab_instance) {
  position: relative;
}
.freeBox__bChx {
  flex-direction: row;
  display: flex;
  width: 100%;
  position: relative;
  min-width: 0;
  padding: 16px;
}
.freeBox__bChx > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__bChx > :global(.__wab_flex-container) > *,
.freeBox__bChx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bChx > :global(.__wab_flex-container) > picture > img,
.freeBox__bChx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bChx {
    width: 100%;
    min-width: 0;
    padding: 32px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bChx > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.freeBox__gbVmU {
  flex-direction: column;
  display: flex;
  position: relative;
  width: auto;
}
.freeBox__gbVmU > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__gbVmU > :global(.__wab_flex-container) > *,
.freeBox__gbVmU > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gbVmU > :global(.__wab_flex-container) > picture > img,
.freeBox__gbVmU
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gbVmU {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gbVmU > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gbVmU > :global(.__wab_flex-container) > *,
  .freeBox__gbVmU > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__gbVmU > :global(.__wab_flex-container) > picture > img,
  .freeBox__gbVmU
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.subNav:global(.__wab_instance) {
  position: relative;
}
.freeBox__ulUxC {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.button__baScX {
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 500;
  background: #000000d9;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  border-radius: 6px;
  border-width: 0px;
}
.button2:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.svg__bwfo4 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__pBZlK {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #1b1b18;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__qudGt {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__y4XlV {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  margin-right: 100px;
  margin-bottom: 100px;
  margin-left: calc(100px + 16px) !important;
  min-width: 0;
  padding: 0px;
}
.freeBox__y4XlV > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 100px);
  height: calc(100% + 100px);
}
.freeBox__y4XlV > :global(.__wab_flex-container) > *,
.freeBox__y4XlV > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__y4XlV > :global(.__wab_flex-container) > picture > img,
.freeBox__y4XlV
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 100px;
}
.heading:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__r0KO {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text___1IcD1:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__zhWme {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.tabs:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
  min-width: 0;
}
.tabList:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.tab___3RbX3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__aVmOq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.tab___0Rpqx:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__mUh1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.tab___1Dymm:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__giTq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.tabPanels:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.tabPanel__wozbY:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__k2Em {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.freeBox__k6Peu {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__k6Peu > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__k6Peu > :global(.__wab_flex-container) > *,
.freeBox__k6Peu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__k6Peu > :global(.__wab_flex-container) > picture > img,
.freeBox__k6Peu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.button__gGlao:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.checkCircleIcon___1Fo2I:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__o4Equ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.button__kEuxA:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.checkCircleIcon__xiXq8:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___5W3Xg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.checkCircleIcon__uKTi:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.button__fwyk8:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.checkCircleIcon__syZi0:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__izggx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.checkCircleIcon__ruE8M:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.button__n5Gq9:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.checkCircleIcon__aOeoz:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___9JfZb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.checkCircleIcon__x5OA:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.tabPanel__aO8Xm:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__bn9Vv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.buttonPreview:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  display: none;
}
.buttonPreviewprops:global(.__wab_instance) {
  display: flex;
}
.tabPanel__gxfZh:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.chakraDocs:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.text__gZfx6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__fTgQq {
  position: relative;
  width: 100%;
  min-width: 0;
}
